[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
